<div class="logerror">
<h1><font color="red">Вход не произведен!!!</font></h1>
<h3>Возможно были введены некоректные логин или пароль, поробуйте еще раз.</h3>
<h2><%= link_to "Попробывать снова", login_path %></h2>
</div>