<h2> Check list для АЗС </h2>

<h3> Список азс для включения в чек лист </h3>

<table border="4", cellspacing="4", rules="all">
 <tbody>
 	<tr>
 	<th align="center">#</th>
 	<th>-----AZS------</th>
 	<th>-----CHK------</th>
 	</tr>
 
  <% @stations.each do |st| %>
  <tr>
  	<td align="center"><%= @count %>
   <td align="center"><%= st.name %></td>
   <% @count = @count + 1 %>
   <td align="center"><%= check_box_tag(:pet_dog) %></td>
 </tr>
<% end %>
</tbody>
</table>

