<h1>СПИСОК ЗАПОЛНЕННЫХ ПУТЕВЫХ ЛИСТОВ  для <%= current_user.name %></h1>

<table class="test" width="200" cellpadding="20" cellspacing="40" border="0">
<tr style="border-bottom: 3px solid #808080;">	
<th>ДАТА</th>
</tr>
