// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.test {
 border: 0px;
}
.test th {
 text-align: left;
 vertical-align: top;
 font-weight: bold;
 font-family: Arial, Tahoma;
 font-size: 13 px;
 color: #222222;
 padding: 10px;
}
.test td {
 text-align: left;
 vertical-align: top;
 font-weight: normal;
 font-family: Arial, Tahoma;
 font-size: 13 px;
 color: #222222;
 padding: 10px;
}